.c-menu {
    background-color: #2B3340;
    overflow-y: auto
}

.c-menu--slide-left .c-menu__close, .c-menu--slide-right .c-menu__close, .c-menu--push-left .c-menu__close, .c-menu--push-right .c-menu__close {
    display: block;
    padding: 0;
    visibility: hidden;
    height: 0;
    width: 0;
}

.c-menu--slide-left.is-active, .c-menu--push-left.is-active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
